{# @Author: Jacob Lindvig Henriksen (J-Lindvig) #}

{#
  2D array with plugin-file as key and a custom subpath as value
#}
{% set plugins = {
  "auto-entities.js": "lovelace-auto-entities",
  "bar-card.js": "",
  "card-mod.js": "lovelace-card-mod",
  "clock-card.js": "lovelace-clock-card",
  "fold-entity-row.js": "lovelace-fold-entity-row",
  "fullscreen-card.js": "",
  "gap-card.js": "lovelace-gap-card",
  "gauge-card.js": "",
  "gui-sandbox.js": "lovelace-gui-sandbox",
  "layout-card.js": "lovelace-layout-card",
  "lovelace-card-templater.js": "",
  "mini-graph-card-bundle.js": "mini-graph-card",
  "multiple-entity-row.js": "lovelace-multiple-entity-row",
  "rejseplanen-card.js": "",
  "restriction-card.js": "",
  "select-list-card.js": "",
  "slider-entity-row.js": "lovelace-slider-entity-row",
  "stack-in-card.js": "",
  "state-attribute-element.js": "",
  "state-switch.js": "lovelace-state-switch",
  "text-element.js": "",
  "time-picker-card.js": "lovelace-time-picker-card",
  "weather-card.js": "",
  "button-card.js": "",
  "weather-card-chart.js": "lovelace-weather-card-chart",
  "home-assistant-sun-card.js": "",
  "vacuum-card.js": "",
  "slider-button-card": ""
} %}

{% set type = "module" %}
{% set path = "/hacsfiles" %}

{# PRIVATE BEGIN #}
{# BANNER IN YAML WITH SIGNATURE #}
{% set signature = "by J-Lindvig" %}
{% set stamp = "Created: "~now().day~'/'~now().month~'/'~now().year %}
{% set banner = [
  "    __  _____   ___________    ___       __    __      ____       _      ",
  "   / / / /   | / ____/ ___/   /   | ____/ /___/ /     / __ \____ ( )_____",
  "  / /_/ / /| |/ /    \__ \   / /| |/ __  / __  /_____/ / / / __ \|// ___/",
  " / __  / ___ / /___ ___/ /  / ___ / /_/ / /_/ /_____/ /_/ / / / / (__  ) ",
  "/_/ /_/_/  |_\____//____/  /_/  |_\__,_/\__,_/      \____/_/ /_/ /____/  ",
  "                                                                         "
] %}

{%- macro print_banner() %}
{{ "#".ljust(80, "#") }}
{%- for line in banner %}
{%- if not loop.last %}
# {{ line.center(76) }} #
{%- else %}
# {{ (line[:-(signature | length)] ~ signature).center(76) }} #
{% endif -%}
{% endfor -%}
{{ "#".ljust(80, "#") }}
# {{ stamp.ljust(76," ") }} #
{{ "#".ljust(80, "#") }}
{%- endmacro %}
{# PRIVATE END #}

{% set banners = {
  "A": ["      ___    ","     /   |   ","    / /| |   ","  / ___ |   ","  /_/  |_|   ",""],
  "B": ["      ____   ","     / __ )  ","    / __  |  ","  / /_/ /   ","  /_____/    ",""],
  "C": ["     ______  ","    / ____/  ","   / /       "," / /___     ","  \____/     ",""],
  "D": ["      ____   ","    / __ \\  ","    / / / /  ","  / /_/ /   ","  /_____/    ",""],
  "E": ["      ______ ","     / ____/ ","    / __/    ","  / /___    ","  /_____/    ",""],
  "F": ["      ______ ","     / ____/ ","    / /_     ","  / __/     ","  /_/        ",""],
  "G": ["     ______  ","    / ____/  ","   / / __    "," / /_/ /    ","  \____/     ",""],
  "H": ["      __  __ ","     / / / / ","    / /_/ /  ","  / __  /   ","  /_/ /_/    ",""],
  "I": ["      ____   ","     /  _/   ","     / /     ","  _/ /      ","  /___/      ",""],
  "J": ["          __ ","         / / ","    __  / /  ","  / /_/ /   ","   \____/    ",""],
  "K": ["      __ __  ","     / //_/  ","    / ,<     ","  / /| |    ","  /_/ |_|    ",""],
  "L": ["      __     ","     / /     ","    / /      ","  / /___    ","  /_____/    ",""],
  "M": ["      __  ___","     /  |/  /","    / /|_/ / ","  / /  / /  ","  /_/  /_/   ",""],
  "N": ["      _   __ ","     / | / / ","   /  |/ /  ","   / /|  /   ","  /_/ |_/    ",""],
  "O": ["      ____   ","    / __ \\  ","   / / / /  ","   / /_/ /   ","   \____/    ",""],
  "P": ["      ____   ","    / __ \\  ","   / /_/ /  ","   / ____/   ","  /_/        ",""],
  "Q": ["      ____   ","    / __ \\  ","   / / / /  ","   / /_/ /   ","  \___\_\\   ",""],
  "R": ["      ____   ","    / __ \\  ","   / /_/ /  ","   / _, _/   ","  /_/ |_|    ",""],
  "S": ["     _____   ","    / ___/   ","   \__ \\   ","   ___/ /    ","  /____/     ",""],
  "T": ["     ______  ","    /_  __/  ","    / /     ","    / /      ","   /_/       ",""],
  "U": ["     __  __  ","    / / / /  ","   / / / /   ","  / /_/ /    "," \____/     ",""],
  "V": ["    _    __  ","   | |  / /  ","  | | / /   ","   | |/ /    ","   |___/     ",""],
  "W": ["   _       __","  | |     / /"," | | /| / / ","  | |/ |/ /  ","  |__/|__/   ",""],
  "X": ["     _  __   ","    | |/ /   ","   |   /    ","   /   |     ","  /_/|_|     ",""],
  "Y": ["   __  __    ","   \ \/ /    ","   \  /     ","    / /      ","   /_/       ",""],
  "Z": ["    _____    ","   /__  /    ","    / /     ","    / /__    ","   /____/    ",""]
} %}

{{ print_banner() }}
{% set ns = namespace(prev_char = "") %}
{% for plugin in plugins | sort %}
{%- set char = plugin[:1].upper() %}
{%- set name = plugin[:-3] %}
{%- if ns.prev_char != char %}
{%- set ns.prev_char = char %}
{{ "#".ljust(16, "#") }}
{% for line in banners[char] -%}
#{{ line.center(14) }}#
{% endfor -%}
{{ "#".ljust(16, "#") }}
{% endif -%}
- type: {{ type }}
  url: {{ path }}{{ ("/"~plugins[plugin]) if plugins[plugin] != "" else "/"~name }}/{{ plugin }}
{% endfor %}

{{ "#".ljust(80, "#") }}
#### {{ "End of file".center(70) }} ####
{{ "#".ljust(80, "#") }}