{# @Author: Jacob Lindvig Henriksen (J-Lindvig) #}

{# PRIVATE BEGIN #}
{# BANNER IN YAML WITH SIGNATURE #}
{% set signature = "by J-Lindvig" %}
{% set stamp = "Created: " ~ now().day  ~ '/' ~ now().month ~ '/' ~ now().year %}
{% set banner = [
"     ________           __  ",
"    / ____/ /___  _____/ /__",
"   / /   / / __ \/ ___/ //_/",
"  / /___/ / /_/ / /__/ ,<   ",
"  \____/_/\____/\___/_/|_|  ",
"                            "
  ] %}

{%- macro print_banner() %}
{{ "#".ljust(80, "#") }}
{%- for line in banner %}
{%- if not loop.last %}
# {{ line.center(76) }} #
{%- else %}
# {{ (line[:-(signature | length)] ~ signature).center(76) }} #
{% endif -%}
{% endfor -%}
{{ "#".ljust(80, "#") }}
# {{ stamp.ljust(76," ") }} #
{{ "#".ljust(80, "#") }}
{%- endmacro %}
{# PRIVATE END #}

{% macro element_style(top, left, fontsize) -%}
      top: {{ top }}
      left: {{ left }}
      font-size: {{ fontsize }}
      color: white
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
      font-weight: bold
{%- endmacro %}

{{ print_banner() }}
type: picture-elements
image: /local/images/backgrounds/night_5x2.jpg
elements:
  - type: state-label
    entity: sensor.time
    style:
      {{ element_style("55%", "50%", "10vh") }}

  - type: state-label
    entity: sensor.dato
    style:
      {{ element_style("85%", "50%", "4vh") }}

  - type: icon
    icon: mdi:weather-sunset-up
    style:
      {{ element_style("10%", "5%", "1vw") }}

  - type: custom:state-attribute-element
    entity: sensor.uv_sun
    attribute: next_rising
    style:
      {{ element_style("20%", "5%", "1vw") }}

  - type: icon
    icon: mdi:weather-sunset-down
    style:
      {{ element_style("10%", "95%", "1vw") }}

  - type: custom:state-attribute-element
    entity: sensor.uv_sun
    attribute: next_setting
    style:
      {{ element_style("20%", "95%", "1vw") }}

{{ "#".ljust(80, "#") }}
#### {{ "End of file".center(70) }} ####
{{ "#".ljust(80, "#") }}